In [3]:
from torchtext import datasets
import pandas as pd
import spacy

In [2]:
train, test = datasets.AmazonReviewFull()

ModuleNotFoundError: Package `torchdata` not found. Please install following instructions at `https://github.com/pytorch/data`

In [4]:
# loading train data

train_df = pd.read_csv(".data/Amazon/3000test.csv", nrows=3000, header=0, index_col=0)
train_df.head()

,0,1,2
0,1,mens ultrasheer,"This model may be ok for sedentary types, but ..."
1,4,Surprisingly delightful,This is a fast read filled with unexpected hum...
2,2,"Works, but not as advertised",I bought one of these chargers..the instructio...
3,2,Oh dear,I was excited to find a book ostensibly about ...
4,2,Incorrect disc!,"I am a big JVC fan, but I do not like this mod..."

In [6]:
# rename columns
train_df.rename({'0':"star", '1':"rating1", '2':"rating2"}, axis=1, inplace=True)

# merge the two reviews columns
train_df["review"] = train_df["review"] = train_df["rating1"] + " " +  train_df["rating2"]

# drop unnecessary columns
train_df.drop(columns=["rating1", "rating2"], inplace=True)

In [8]:
train_df.head()

   star                                             review
0     1  mens ultrasheer This model may be ok for seden...
1     4  Surprisingly delightful This is a fast read fi...
2     2  Works, but not as advertised I bought one of t...
3     2  Oh dear I was excited to find a book ostensibl...
4     2  Incorrect disc! I am a big JVC fan, but I do n...

In [9]:
test_df = pd.read_csv(".data/Amazon/3000test.csv", nrows=3000, header=0, index_col=0)
test_df.head()

,0,1,2
0,1,mens ultrasheer,"This model may be ok for sedentary types, but ..."
1,4,Surprisingly delightful,This is a fast read filled with unexpected hum...
2,2,"Works, but not as advertised",I bought one of these chargers..the instructio...
3,2,Oh dear,I was excited to find a book ostensibly about ...
4,2,Incorrect disc!,"I am a big JVC fan, but I do not like this mod..."

In [10]:
# rename columns
test_df.rename({'0':"star", '1':"rating1", '2':"rating2"}, axis=1, inplace=True)

# merge the two reviews columns
test_df["review"] = test_df["review"] = test_df["rating1"] + " " +  test_df["rating2"]

# drop unnecessary columns
test_df.drop(columns=["rating1", "rating2"], inplace=True)

In [11]:
test_df.head()

   star                                             review
0     1  mens ultrasheer This model may be ok for seden...
1     4  Surprisingly delightful This is a fast read fi...
2     2  Works, but not as advertised I bought one of t...
3     2  Oh dear I was excited to find a book ostensibl...
4     2  Incorrect disc! I am a big JVC fan, but I do n...

In [17]:
train_df = train_df.groupby('star', group_keys=False).apply(lambda x: x.sample(100))

In [19]:
train_df

      star                                             review
142      1  Actually, this book is not worth one star. Thi...
1773     1  Useless I was so excited to receive this to he...
107      1  No lessons learned This is one of the most dis...
1632     1  great american spice company stay away from Gr...
2017     1  Try another diaper! These diapers have been a ...
...    ...                                                ...
2396     5  better than gas-x take two of these compared t...
2960     5  Use as a chair I'm glad I bought the largest o...
2958     5  Once into it, a wonderful and uplifting read. ...
1176     5  A powerful, moving film you can't stop watchin...
398      5  Very informative Well written has a lot of tip...

[500 rows x 2 columns]