In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('heart.csv')

In [4]:
print(df.head())

   age  sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  \
0   63    1   3     145   233    1        0       150     0      2.3    0
1   37    1   2     130   250    0        1       187     0      3.5    0
2   41    0   1     130   204    0        0       172     0      1.4    2
3   56    1   1     120   236    0        1       178     0      0.8    2
4   57    0   0     120   354    0        1       163     1      0.6    2

   caa  thall  output
0    0      1       1
1    0      2       1
2    0      2       1
3    0      2       1
4    0      2       1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trtbps    303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalachh  303 non-null    int64
 8   exng      303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slp       303 non-null    int64
 11  caa       303 non-null    int64
 12  thall     303 non-null    int64
 13  output    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [7]:
print(df.shape)

(303, 14)

In [8]:
df.value_counts()

age  sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  caa  thall  output
38   1    2   138     175   0    1        173       0     0.0      2    4    2      1         2
59   1    0   110     239   0    0        142       1     1.2      1    1    3      0         1
          2   126     218   1    1        134       0     2.2      1    1    1      0         1
          1   140     221   0    1        164       1     0.0      2    0    2      1         1
          0   170     326   0    0        140       1     3.4      0    0    3      0         1
                                                                                             ..
51   1    2   94      227   0    1        154       1     0.0      2    1    3      1         1
          0   140     299   0    1        173       1     1.6      2    0    3      0         1
                      298   0    1        122       1     4.2      1    3    3      0         1
                      261   0    0        186       1     0.0      2    0    2      1         1
77   1    0   125     304   0    0        162       1     0.0      2    3    2      0         1
Length: 302, dtype: int64