In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Attributes

* buying
* maint
* doors
* persons
* lug_boot
* safety

## Loading the data

In [2]:
car_data = 'https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data'
car_name = 'https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.names'

In [3]:
df = pd.read_csv(car_data, header = None)
df

          0      1      2     3      4     5      6
0     vhigh  vhigh      2     2  small   low  unacc
1     vhigh  vhigh      2     2  small   med  unacc
2     vhigh  vhigh      2     2  small  high  unacc
3     vhigh  vhigh      2     2    med   low  unacc
4     vhigh  vhigh      2     2    med   med  unacc
...     ...    ...    ...   ...    ...   ...    ...
1723    low    low  5more  more    med   med   good
1724    low    low  5more  more    med  high  vgood
1725    low    low  5more  more    big   low  unacc
1726    low    low  5more  more    big   med   good
1727    low    low  5more  more    big  high  vgood

[1728 rows x 7 columns]

In [4]:
columns = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'acceptability']
columns

['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'acceptability']

In [5]:
df = pd.read_csv(car_data, index_col= False, names=columns)
df

     buying  maint  doors persons lug_boot safety acceptability
0     vhigh  vhigh      2       2    small    low         unacc
1     vhigh  vhigh      2       2    small    med         unacc
2     vhigh  vhigh      2       2    small   high         unacc
3     vhigh  vhigh      2       2      med    low         unacc
4     vhigh  vhigh      2       2      med    med         unacc
...     ...    ...    ...     ...      ...    ...           ...
1723    low    low  5more    more      med    med          good
1724    low    low  5more    more      med   high         vgood
1725    low    low  5more    more      big    low         unacc
1726    low    low  5more    more      big    med          good
1727    low    low  5more    more      big   high         vgood

[1728 rows x 7 columns]

## Plot the data