In [ ]:
#23 --> Given a DataFrame of numeric values, say
#df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
#how do you subtract the row mean from each element in the row?

In [15]:
import pandas as pd
import numpy as np
'''
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
df.mean(axis=1)

'''
df = pd.DataFrame(np.random.random(size=(5, 3)))
print(df)
df.sub(df.mean(axis=1), axis=0)

          0         1         2
0  0.940107  0.582014  0.878832
1  0.844734  0.905392  0.459880
2  0.546347  0.798604  0.285719
3  0.490254  0.599110  0.015533
4  0.593481  0.433676  0.807361

          0         1         2
0  0.139790 -0.218304  0.078514
1  0.108065  0.168723 -0.276789
2  0.002790  0.255047 -0.257838
3  0.121954  0.230811 -0.352766
4 -0.018025 -0.177830  0.195854

In [17]:
#24
# Suppose you have DataFrame with 10 columns of real numbers, for example:
# df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
# Which column of numbers has the smallest sum? (Find that column's label.)

df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
print(df)

#I think I need to use idxmin

column = df.idxmin()
print(column)

          a         b         c         d         e         f         g  \
0  0.519012  0.770884  0.568858  0.465710  0.342689  0.068209  0.377924
1  0.811859  0.874962  0.688413  0.569494  0.160971  0.466880  0.345172
2  0.916306  0.909636  0.257118  0.110891  0.192963  0.499584  0.728586
3  0.415849  0.616685  0.233666  0.101967  0.515857  0.477141  0.152672
4  0.144546  0.751528  0.222049  0.519352  0.785296  0.022330  0.324362

          h         i         j
0  0.079626  0.982817  0.181613
1  0.225040  0.592512  0.312270
2  0.208194  0.248034  0.851672
3  0.621806  0.544010  0.654137
4  0.872922  0.844710  0.538441
a    4
b    3
c    4
d    3
e    1
f    4
g    3
h    0
i    2
j    0
dtype: int64